body {
    background-color: teal; 
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin:0;
}


.card {
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(150, 18, 18, 0.1);
    max-width: 280px;
    width: 100%;
}


.card__img {
    max-width: 100%;
    border-radius: 15px;
}

.card__text {
    text-align: center;
}